<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Jasmine Spec Runner v2.0.0</title>

        <link rel="shortcut icon" type="image/png" href="{{ asset("bundles/app/js/thirdparty/jasmine-core/images/jasmine_favicon.png") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/app/js/thirdparty/jasmine-core/lib/jasmine-core/jasmine.css") }}">
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/app/js/thirdparty/requirejs/require.js") }}" data-main="bundles/app/js/specs/main-test"> </script>
    </head>
    <body>
    </body>
</html>
</html>