{% extends 'SonataAdminBundle::standard_layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin/setting_form.css') }}"/>
{% endblock %}

{% form_theme setting 'bootstrap_3_layout.html.twig' %}

{% block sonata_admin_content %}

    {% if app.session.getFlashBag.has('message')  %} 
    <div class="alert alert-dismissable {% if setting.vars.valid %}alert-success{% else %}alert-danger{% endif %}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ app.session.getFlashBag.get('message')[0] }}
    </div>
    {% endif %}
    
    <h1>Settings</h1>
    {{ form_start(setting) }}
    {{ form_row(setting.name, { 'label' : 'Full Name'})  }}
    {{ form_row(setting.email, { 'label' : 'Email Address'})  }}
    {{ form_row(setting.city, { 'label' : 'City'})  }}
    {{ form_row(setting.state, { 'label' : 'State'})  }}
    <div class="form-group submit-btn">
            <button class="btn btn-success pull-right">Update Setting</button>
    </div>
    {{ form_end(setting) }}

{% endblock %}